<div class="row">
	<div class="col-md-3">
    <div class="user-info">
    	<%= render 'shared/user', user: @user, show_bio: true %>
    </div>
	</div>
	<div class="col-md-6">
		<%= render 'follow_form' if logged_in? %>
		<% @photos.each do |photo| %>
			<%= render 'shared/photo', photo: photo %>
		<% end %>
	</div>
</div>
