<div class="row">
	<div class="col-md-3">
		<% if logged_in? %>
		    <section class="user_info">
		    	<%= render 'shared/user', user: @user, show_bio: true %>
		    </section>
		<% end %>
	</div>
	<div class="col-md-6">
		<% @photos.each do |photo| %>
			<%= render 'shared/photo', photo: photo %>
		<% end %>
	</div>
</div>
