<div class="panel panel-default">
	<div class="panel-body">
		<h4><%= user.full_name %></h4>
		<h5><%= link_to user.screen_name, user_url(user) %></h5>
		<% if show_bio %>
			<p><%= user.bio %></p>
		<% end %>
		<div class="stats">
      <%= render 'shared/stats' %>
    </div>
  </div>
</div>
