<div class="row">
	<% if !logged_in? && no_photos? %>
		<div class="jumbotron center">
  		<h2 class="text-center">
  			<%= link_to "Be the first to sign up", signup_path %>
  		</h2>
		</div>
	<% else %>
		<div class="col-md-3">
			<% if logged_in? %>
			    <section class="user-info">
			    	<%= render 'shared/user', user: current_user, show_bio: false %>
			    </section>
			    <section class="photo-form">
			    	<%= render 'photo_form' %>
			    </section>
			<% end %>
		</div>
		<div class="col-md-6">
			<% @photos.each do |photo| %>
				<%= render 'shared/photo', photo: photo %>
			<% end %>
			<% if no_photos? %>
				<h1 class="text-center">We've got no photos to show &#x1F610;</h1>
			<% end %>
		</div>
	<% end %>
</div>
